<body>
    
<div class="card text-white bg-primary mb-3" style="max-width: 20rem; top: 20px;" id="leftpane">
    <div class="card-header">Please Enter Reservation Details</div>
    <div class="card-body">
        
        <form #reservation='ngForm' (ngSubmit)='onSubmit(reservation)'>
            <div id="reservation" ngModelGroup #reservation='ngModelGroup'>
                <div class="form-group">
                    <label for="id">Reservation Number</label>
                    <input  type="alphanumeric" id="id" class="form-control" ngModel
                        name="id" required #id='ngModel'>
                        <span class="help-block" *ngIf='!id.valid && id.touched'>Please Enter Train Number.</span>
                </div>
            </div>

            <br>

            <div class="submit">
                <button class="btn btn-outline-secondary btn-lg btn-block" type="submit"> Submit</button>
            </div>
        </form>
    </div>
  </div>
  
</body>