/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html { background-color: black; }

.selector {
    background-image: url("./assets/reg2.jpg");
    height: 100%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.selector2{
    background-image: url("./assets/reg.jpg");
    height: 100%;
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
/*    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}


.selector3{
    background-image: linear-gradient(to right, rgb(196, 142, 142) , rgb(197, 197, 97));
    height: 100%;
   
   
/*    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}