
<body>
<div id="sub">
<button type="button" class="btn btn-secondary" (click)="trainname()">Reservation by Train Name</button>
<button type="button" class="btn btn-secondary" (click)="sourcedest()">Reservation by Soure-Destination</button><br>
<button type="button" class="btn btn-secondary" (click)="update()">Update Reservation</button><br>
<button type="button" class="btn btn-secondary" (click)="view()">View Reservation</button><br>
<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel Reservation</button>
</div>

<mat-card>
  <mat-card-header color="primary">
    <mat-card-title>Here are some services which we are offering</mat-card-title>
    <button type="submit" (click)="logout()" mat-raised-button color="primary" id="logout">Logout</button>
  </mat-card-header>
</mat-card>


</body>