<mat-card>
  <!-- <mat-card-header color="primary"> -->
    <!-- <mat-card-title>If You see This then you are authenticated</mat-card-title> -->
    <button type="submit" (click)="logout()" mat-raised-button color="primary">Logout</button>
  <!-- </mat-card-header> -->
</mat-card>

<div>
<button (click)="trainname()">Reservation by Train Name</button>
<button (click)="sourcedest()">Reservation by Soure-Destination</button><br>
<button (click)="update()">Update Reservation</button><br>
<button (click)="cancel()">Cancel Reservation</button>
</div>
