
body{
    background-image: linear-gradient(to right, rgb(151, 32, 105) , rgb(136, 136, 201));
}
#sub{
    margin:auto;
    position:absolute;
    top: 60%;
    left: 50%;
    width:28em;
    height:18em;
    text-align: center;
    margin-top: -9em; /*set to a negative number 1/2 of our height*/
    margin-left: -15em; /*set to a negative number 1/2 of our width*/
    /* border: 1px solid rgb(211, 137, 137); */
    border-radius: 25px;
    /* background-image: linear-gradient(to right, rgb(189, 122, 189) , yellow); */
    background-color: black;
}


button{
       /* padding: 2px; */
       margin: 10px;
       /* left: 570px; */

   }

  #logout{
      left:520px;
      margin: 0px;
  }  