<body>
    

<div class="card text-white bg-primary mb-3" style="max-width: 20rem; top: 20px;" id="leftpane">
    <div class="card-header">Please Enter Reservation Details</div>
    <div class="card-body">
        
        <form #reservation='ngForm' (ngSubmit)='onSubmit(reservation)'>
            <div id="reservation" ngModelGroup #reservation='ngModelGroup'>
                <div class="form-group">
                    <label for="trainname">Train Name</label>
                    <input type="trainname" id="trainname" class="form-control" ngModel name="trainname"
                        required #trainname='ngModel'>
                            <span class="help-block" *ngIf='!trainname.valid && trainname.touched'>Please Enter train name.</span>
                </div>
                <div class="form-group">
                    <label for="passenger">Number of Passenger</label>
                    <input type="number" id="passenger" class="form-control" ngModel
                        name="passenger" required #passenger='ngModel' min=1>
                            <span class="help-block" *ngIf='!passenger.valid && passenger.touched'>Please enter No of passengers.</span>
                </div>
  
                <div class="form-group">
                    <label for="class">Class</label>
                    <input type="text" id="class" class="form-control" ngModel
                        name="class" required #class='ngModel'>
                            <span class="help-block" *ngIf='!class.valid && class.touched'>Please enter class you want to travel</span>
                </div>

                <div class="form-group">
                    <label for="resdate">Date of Reservation</label>
                    <input type="date" min="2021-06-14" id="resdate" class="form-control" ngModel
                        name="resdate" required #resdate='ngModel'>
                            <span class="help-block" *ngIf='!resdate.valid && resdate.touched'>Please enter Reservation Date</span>
                </div>
            </div>
            <br>
            <div class="submit">
                <button class="btn btn-outline-secondary btn-lg btn-block" type="submit" [disabled]='!reservation.valid'>Submit</button>
            </div>
        </form>
    </div>
  </div>
  
</body>