<!-- <div class="card text-white bg-light mb-3" style="max-width: 20rem;">
    <div class="card-header">Create a new Reservation</div>
    <div class="card-body">
        
        <form #reservationForm='ngForm' (ngSubmit)='onSubmit(reservationForm)'>
            <div id="reservation" ngModelGroup #reservation='ngModelGroup'>
                <div class="form-group">
                    <label for="source">Source</label>
                    <input 
                        type="text" 
                        id="source" 
                        class="form-control"
                        ngModel
                        name="source"
                        required
                        #source='ngModel'>
                        <span class="help-block" *ngIf='!source.valid && source.touched'>Please enter Source</span>
                </div>

                <div class="form-group">
                    <label for="destination">Destination</label>
                    <input 
                        type="text" 
                        id="destination" 
                        class="form-control"
                        ngModel
                        name="destination"
                        required
                        #u_lname='ngModel'>
                        <span class="help-block" *ngIf='!destination.valid && destination.touched'>Please enter Destination</span>
                </div>

                <div class="form-group">
                    <label for="trainname">Train Name</label>
                    <input 
                        type="email" 
                        id="u_email" 
                        class="form-control"
                        ngModel
                        name="u_email"
                        required
                        email
                        #u_email='ngModel'>
                        <span class="help-block" *ngIf='!u_email.valid && u_email.touched'>Please enter your email.</span>
                        
                </div>

                <div class="form-group">
                    <label for="Passenger">Passenger</label>
                    <input 
                        type="number" 
                        id="Passenger" 
                        class="form-control"
                        ngModel
                        name="Passenger"
                        required
                        #Passenger='ngModel'>
                        <span class="help-block" *ngIf='!Passenger.valid && Passenger.touched'>Please enter number of passenger</span>
                </div>

                <div class="form-group">
                    <label for="u_conpassword">Confirm Password</label>
                    <input 
                        type="password" 
                        id="u_conpassword" 
                        class="form-control"
                        ngModel
                        name="u_conpassword"
                        required
                        #u_conpassword='ngModel'>
                        <span class="help-block" *ngIf='!u_conpassword.valid && u_conpassword.touched'>Please confirm your password.</span>
                </div>
                
                <div class="form-check">
                    <input 
                        class="form-check-input" 
                        type="checkbox" 
                        id="policy"
                        ngModel
                        required
                        [ngModelOptions]="{standalone:true}">
                    <label class="form-check-label" for="policy">
                      I accept the terms of service and privacy policy.
                    </label>
                  </div>
            </div>

            <div>
                <button 
                    class="btn btn-outline-primary" 
                    type="submit"
                    [disabled]='!registerForm.valid' >Submit</button>
            </div>
        </form>
    </div>
</div> -->