  


footer p {
    font-family: calibri;
  }
  footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #e7dcdc;
    line-height: 10px;
  }
  footer p:nth-child(2) {
    font-size: 16px;
    color: #d4cece;
    width: 600px;
    text-align: center;
  }
  footer {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .copyright {
    color: #ce1111;
    font-size: 12px;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
  