<body>
<div class="container">
    <h1>Welcome to railway reservation System</h1>
  
  <div class="routes">
    <button  mat-raised-button color="accent" (click)="getregister()">Register</button><br>
    <button mat-raised-button color="accent"  (click)="getlogin()">Login</button><br>
    <button mat-raised-button color="accent"(click)="searchTrain()">Search For Train</button><br>
  </div>
   <h3><marquee behavior="scroll" direction="left">Please register yourself for reservation</marquee></h3>
  </div>

</body>

