<body>

<div id="sub">
<button type="button" class="btn btn-secondary" (click)="AddTrain()">Add Train</button><br>
<button type="button" class="btn btn-secondary" (click)="DeleteTrain()">Delete Train</button><br>
<button type="button" class="btn btn-secondary" (click)="UpdateTrain()">Update Train</button><br>
<button type="button" class="btn btn-secondary" (click)="SearchTrain()">Search Train</button>
</div>
<mat-card>
    <mat-card-header color="primary">
      <mat-card-title>List of services </mat-card-title>
      <button id="submit" type="submit" (click)="logout()" mat-raised-button color="primary">Logout</button>
    </mat-card-header>
  </mat-card>

  </body>