<body>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem; top: 20px;" id="leftpane">
    <div class="card-header">Update Reservation</div>
    <div class="card-body">
        
        <form #reservation='ngForm' (ngSubmit)='onSubmit(reservation)'>
            <div id="reservation" ngModelGroup #reservation='ngModelGroup'>
                <div class="form-group">
                    <div class="form-group">
                        <label for="id">Reservation Id</label>
                        <input type="alphanumeric" id="id" class="form-control" ngModel name="id"
                            required #id='ngModel'>
                                <span class="help-block" *ngIf='!id.valid && id.touched'>Please Enter Reservation ID.</span>
                    </div>   
                </div>

                <div class="form-group">
                    <label for="passenger">Number of Passenger</label>
                    <input type="number" id="passenger" class="form-control" ngModel
                        name="passenger" required #passenger='ngModel' min=1>
                            <span class="help-block" *ngIf='!passenger.valid && passenger.touched'>Please enter No of passengers.</span>
                </div>
  
                <div class="form-group">
                    <label for="class">Class</label>
                    <input type="text" id="class" class="form-control" ngModel name="class"
                        required #class='ngModel'>
                            <span class="help-block" *ngIf='!class.valid && class.touched'>Please enter class you want to travel</span>
                </div>

                <div class="form-group">
                    <label for="resdate">Date of Reservation</label>
                    <input type="date" id="resdate" class="form-control" ngModel
                        name="resdate" required #resdate='ngModel'>
                         <span class="help-block" *ngIf='!resdate.valid && resdate.touched'>Please enter Reservation Date</span>
                </div>
            </div>
            <br>
            <div class="submit">
                <button class="btn btn-outline-secondary btn-lg btn-block" type="submit">Submit</button>
            </div>
        </form>
    </div>
  </div>
</body>