<body>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem; top: 20px;" id="leftpane">
    <div class="card-header">Please Enter  Details</div>
    <div class="card-body">
        
        <form #train='ngForm' (ngSubmit)='onSubmit(train)'>
            <div id="train" ngModelGroup #train='ngModelGroup'>
                <div class="form-group">
                    <label for="trainname">Train Name</label>
                    <input  type="text"  id="trainname"  class="form-control" ngModel
                        name="trainname" required #trainname='ngModel'>
                    <span class="help-block" *ngIf='!trainname.valid && trainname.touched'>Please Enter train name.</span>
                </div>
            </div>
            <br>
            <div class="submit">
                <button  class="btn btn-outline-secondary btn-lg btn-block" type="submit"
                    [disabled]='!train.valid' >Submit</button>
            </div>
        </form>
    </div>
  </div>
  

 <div class="card-body">
  <!-- <h2>Please make sure Your Log in our system in order to make reservation</h2> -->
 <table class="table table-hover">
     <thead>
         <tr>
             <th>Train Name</th>
             <th>Train Number</th>
             <th>Source</th>
             <th>Destination</th>
             <th>Fare</th>
             <th>Action</th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor='let train of alltrain'>
             <td>{{train.Train_Name}}</td>
             <td>{{train.Train_Number}}</td>
             <td>{{train.Source}}</td>
             <td>{{train.Destination}}</td>
             <td>{{train.Fair |  currency:'INR':'symbol-narrow'}}</td>
             <td>
                 <button mat-flat-button color="warn" (click)="gonext()">Back to previous</button>
             </td>
         </tr>
     </tbody>
 </table>
</div> 

</body>
  


  
