<div class="card text-white bg-primary mb-3" style="max-width: 20rem; top: 100px;">
  <div class="card-header">Login Here!!</div>
  <div class="card-body">
      
      <form #login='ngForm' (ngSubmit)='onSubmit(login)'>
          <div id="login" ngModelGroup #login='ngModelGroup'>
              
              <div class="form-group">
                  <label for="email">Email</label>
                  <input 
                      type="email" 
                      id="email" 
                      class="form-control"
                      ngModel
                      name="email"
                      required
                      email
                      #email='ngModel'>
                      <span class="help-block" *ngIf='!email.valid && email.touched'>Please Enter your Email.</span>
                      
              </div>

              <div class="form-group">
                  <label for="password">Password</label>
                  <input 
                      type="password" 
                      id="password" 
                      class="form-control"
                      ngModel
                      name="password"
                      required
                      #password='ngModel'>
                      <span class="help-block" *ngIf='!password.valid && password.touched'>Please Enter your Password.</span>
              </div>
          </div>
          <br>
          <div class="submit">
              <button 
                  id="submit"
                  class="btn btn-outline-primary" 
                  type="submit"
                  [disabled]='!login.valid' >Login</button>
          </div>
          
          <div><h5>New user?</h5> 
            <button type="button" 
                  class="btn btn-outline-dark btn-lg"
                  (click)="register()">
                  Let's Register Here</button>
          </div>
      </form>
  </div>
</div>