<div class="card-body">
    <table class="table table-hove">
        <thead>
            <tr>
                <th>Train Name</th>
                <th>Train Number</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Fare</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let train of alltrain'>
                <td>{{train.Train_Name}}</td>
                <td>{{train.Train_Number}}</td>
                <td>{{train.Source}}</td>
                <td>{{train.Destination}}</td>
                <td>{{train.Fair |currency:'INR':'symbol-narrow'}}</td>
                <td>
                    <button class="btn btn-outline-primary" (click)="makereserervation()">Reserve Seat</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>